<launch>
	<include file="$(find astra_launch)/launch/astra.launch"/>

	<node pkg="image_view" type="image_view" name="image_view">
		<remap from="/image" to="/camera/rgb/image_raw"/>
	</node>

	<node pkg="image_view" type="image_saver" name="image_saver">
		<param name="save_all_image" value="false"/>
		<param name="filename_format" value="$(env HOME)/ROS/image/%04d.%s"/>
		<remap from="/image" to="/camera/rgb/image_raw"/>
	</node>

	<node pkg="test" type="test_cal_avg_light" name="cal_avg_lights" output="screen"/>
</launch>
