<launch>

    <arg name="use_gazebo" default="false"/>

    <include unless="$(arg use_gazebo)" file="$(find astra_launch)/launch/astra.launch"/>
    <node unless="$(arg use_gazebo)" pkg="tutorial_pkg" type="serial_bridge.sh" name="serial_bridge" output="screen"/>
    
	<include if="$(arg use_gazebo)" file="$(find rosbot_description)/launch/rosbot.launch"/>

    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

</launch>